@model Domain.JoueurDto

@{
    ViewBag.Title = "Index";
}

<h2 style="color:white;">Mafia Game Board</h2>

<p style="color:white;">
    <!-- @Session["username"] -->
    @Model.Pseudo
</p>
<p style="color:white;">
    Vous avez réussi à vous connecter à votre compte :)
</p>


