@model List<Domain.Dto.JoueurPartieDto>

<h3>
    Joueurs inscrits :
</h3>
<h4>
    <ul>
        @foreach (var jp in Model)
        {
            <li>@jp.Joueur.Pseudo</li>
        }
    </ul>

    En attente d'autres joueurs...
</h4>

