@model Domain.Model.Partie;

@{
    ViewBag.Title = "Rejoindre";
}

<h2>@Model.Nom</h2>
<p>Joueurs inscrits :</p>
<ul>
    @foreach(var jp in Model.JoueursParticipants){
        <li>@jp.Joueur.Pseudo</li>
    }
</ul>
<br />
<p>En attente du début de la partie</p>
