@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "En attente des joueurs";
}

@model UI.Models.LoadScreenModel

<h2>
    Nouvelle partie - @Model.Partie.Nom

</h2>
<div id="infos">
    @{
    Html.RenderPartial("RefreshLoadScreen", Model.Participants);
    }
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $('#infos').load('/Partie/RefreshLoadScreen');
            
            /*
            if ($('#infos').children().length == 0)
                window.location.replace("http://"+window.location.hostname+":50359/Partie/LancerPartie");
            */

            //$('#infos').html(myhtml);
            var status = $('#status').attr('data-status');
            if(status !== "inscription")
                location.href = '/Plateau/IndexTemplate';

        }, 2000);
    });
</script>
