@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "En attente des joueurs";
}

@model UI.Models.LoadScreenModel

<h2>
    Nouvelle partie - @Model.Partie.Nom

</h2>
<div id="infos">
    @{
    Html.RenderPartial("RefreshLoadScreen", Model.Participants);
    }
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '/Partie/RefreshLoadScreen',
                type : 'GET'
            });

            //$('#infos').load('/Partie/RefreshLoadScreen');
            //var status = $('#status').attr('data-status');
            //if(status !== "inscription")
             //   location.href = '/Plateau/Index';

        }, 2000);
    });
</script>
