@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "En attente des joueurs";
}

@model UI.Models.LoadScreenModel

<h2>
    Nouvelle partie - @Model.Partie.Nom

</h2>
<div id="infos">
    @{
    Html.RenderPartial("RefreshLoadScreen", Model.Participants);
    }
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            var myhtml = $('#infos').load('/Partie/RefreshLoadScreen');
            if (myhtml === null || myhtml === 'undefined') {
                location.href('/Plateau/Index');
            } else {
                $('#infos').html(myhtml);
            }

        }, 2000);
    });
</script>
