<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGestionJoueurImpl" />
                <binding name="BasicHttpBinding_IGestionPartie" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50368/GestionJoueurImpl.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestionJoueurImpl"
                contract="ServiceReference1.IGestionJoueurImpl" name="BasicHttpBinding_IGestionJoueurImpl" />
            <endpoint address="http://localhost:50368/GestionPartieImpl.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestionPartie"
                contract="ServiceReference2.IGestionPartie" name="BasicHttpBinding_IGestionPartie" />
        </client>
    </system.serviceModel>
</configuration>