@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model Domain.Dto.PartieDto

@{
    ViewBag.Title = "Partie" + ViewData["partie"];
}

<h2>Index</h2>

<div class="container game-container">
    <div class="row">
        <!--foreach(var p in Model.Joueur){ -->
        <div class="col-lg-2 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <!-- Model.Joueur.Name-->
                        Adversaire
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="well opponent-des">
                        <!--foreach(var ad in Model.Joueur.NbDes){ -->
                        <img src="~/Images/de_wazabi_mini.svg" />
                        <img src="~/Images/de_wazabi_mini.svg" />
                        <img src="~/Images/de_wazabi_mini.svg" />
                        <!--}-->
                    </div>

                    <hr />
                    <div class="well opponent-cartes">
                        <!--foreach(var ad in Model.Joueur.NbCartes){ -->
                        <img src="~/Images/dos_carte_mini.svg" />
                        <img src="~/Images/dos_carte_mini.svg" />
                        <img src="~/Images/dos_carte_mini.svg" />
                        <img src="~/Images/dos_carte_mini.svg" />
                        <img src="~/Images/dos_carte_mini.svg" />
                        <!--}-->
                    </div>
                </div>
            </div>
        </div>
        <!--}-->
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="well col-lg-3 col-lg-offset-2 pioche">
                <a data-toggle="popover">
                    <img src="~/Images/dos_carte.svg" id="pioche" />
                </a>
            </div>
            <div class="well col-lg-3 col-lg-offset-2 defausse">
                <img src="~/Images/dos_carte.svg" id="defausse" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Joueur client
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="well vos-des col-lg-4">
                        <img src="~/Images/de_wazabi.svg" />
                        <img src="~/Images/de_wazabi.svg" />
                        <img src="~/Images/de_wazabi.svg" />
                    </div>

                    <div class="well vos-cartes col-lg-8">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Images/dos_carte.svg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Images/dos_carte.svg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Images/dos_carte.svg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Images/dos_carte.svg" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="~/Images/dos_carte.svg" alt="Image" data-id="1" class="img-responsive carte-en-main" />
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="~/Images/dos_carte.svg" alt="Image" data-id="2" class="img-responsive carte-en-main" />
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="~/Images/dos_carte.svg" alt="Image" data-id="3" class="img-responsive carte-en-main" />
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="~/Images/dos_carte.svg" alt="Image" data-id="4" class="img-responsive carte-en-main" />
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    
</script>
