@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model Domain.Dto.GameStateDto

@{
    ViewBag.Title = "Partie" + ViewData["partie"];
}

<div class="container game-container">
    @{
    Html.RenderPartial("RefreshPlateau", Model);
    }
</div>
