@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model Domain.Dto.PartieDto

@{
    ViewBag.Title = "Partie" + ViewData["partie"];
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <div class="panel panel-default joueur">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Joueur 1</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
                <div class="panel panel-default joueur">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Joueur 6</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
                <div class="panel panel-default joueur">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Joueur 5</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default joueur">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Joueur 2</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
                <div class="panel panel-default joueur">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Joueur 3</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
                <div class="panel panel-default joueur">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Joueur 4</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default ma-main">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Main</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12">
                <div class="panel panel-default lancer-des">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Lancer Dés</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default pioche">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Pioche</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default discard">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Discard</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default details-carte">
                    <div class="panel-heading" style="word-break: break-all;">
                        <h3 class="panel-title">Détails carte</h3>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        <div>DésMain</div>
                        <hr />
                        <div>CartesMain</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>