body{
    background-color:black;
}

.wrapper{
    min-height:100%;
    max-height:100%;
    min-width:80%;
    max-width:85%;
    border:2px solid red;
    align-content:center;
}

.login-div{
    align-content:center;
    border:2px solid orange;
    align-items:center;
    margin: 0 auto;
}

.login-div label{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
}